@import "typography";
@import "animations";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  // grid-template-rows: auto 1fr auto;
  // grid-template-rows: 80vh min-content auto repeat(3, min-content);
  grid-template-rows: repeat(12, 1fr);
  // grid-template-columns: minmax(min-content, 14rem);
  grid-template-columns: 1fr repeat(5, minmax(auto, 20em)) 1fr;

  // grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem);
}

main {
  grid-column: 2/8;
  grid-row: 3/10;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
  margin: 3rem 0;
}
