.blog {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 5rem;
    grid-auto-rows: 1fr;
    align-items: start;
    margin-bottom: 5rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__article {
    display: grid;
    // grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 10rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    border-bottom: 1px dotted #ccc;

    &--header {
      display: grid;
      grid-template-rows: repeat(11, auto);
      grid-template-columns: repeat(5, 1fr);

      &__date {
        font-size: 1.6rem;
        width: 6em;
        height: auto;
        grid-row: 1 / span 1;
        grid-column: 1/1;
        transform: translateX(-5rem);
        transform: translateY(5rem) translateX(-4rem);
        background: white;
        color: $color-black;
        padding: 4.5rem 0.5rem;
        border: 0.03rem solid $color-black;
      }

      a {
        grid-column: 1/6;
        grid-row: 2/7;
      }

      &__title {
        grid-column: 1/6;
        grid-row: 5/5;
        z-index: 10;
        a {
          text-decoration: none;
          font-size: 3rem;
          color: white;
          // text-shadow: #ccc;
        }
      }
    }

    &--body {
      margin-top: 3rem;

      &__excerpt {
        font-size: 2.2rem;
        color: $color-black;
      }
    }

    @include respond(phone) {
      width: 96%;
      margin: 5% 2%;
    }
  }
}
