// #intro {
//   grid-column: 2/9;
//   grid-row: 3/5;
// }

// #portfolio {
//   grid-column: 2/9;
//   grid-row: 5/7;
// }

.page-home {
  h1 {
    color: $color-black;
  }
}

.intro {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  padding: 1rem 3rem;
  margin-bottom: 3rem;

  @include respond(mobile) {
    margin-bottom: 7rem;
  }

  &__text {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 4rem;
    grid-row: auto;
    grid-column: 8 / span 5;

    @include respond(tab-port) {
      grid-row: 1/3;
      grid-column: 1/13;
      padding-right: 5rem;
      padding-left: 5rem;
      margin-bottom: 4rem;
    }

    h2 {
      font-size: 4rem;
      margin: 2rem 4rem;
      margin-bottom: 3rem;
      border-bottom: 0.3rem solid $color-black;
    }

    p {
      font-size: 1.8rem;
      text-align: justify;
      margin-bottom: 1.2rem;
    }
  }

  &__collage {
    grid-row: 1 / span 5;
    grid-column: 1 / span 6;
    padding-top: 5rem;

    @include respond(tab-port) {
      display: none;
    }

    @include respond(tab-port) {
      grid-row: 4/6;
      grid-column: 1/13;
    }

    &--list {
      background-size: cover;
      display: grid;
      grid-template-rows: repeat(11, 1fr);
      grid-template-columns: repeat(11, 1fr);

      @include respond(phone) {
        display: block;
      }
    }

    &--photo {
      list-style: none;
      // margin: 2rem 1rem;
      // border: .0003rem solid $color-black;

      @include respond(phone) {
        margin-bottom: 3rem;
      }
    }

    &--photo:nth-child(1) {
      width: 100%;
      grid-row: 1 / span 6;
      grid-column: 1 / span 7;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    }

    &--photo:nth-child(2) {
      grid-row: 4 / span 6;
      grid-column: 6 / span 6;
      z-index: 10;
    }

    &--photo:nth-child(3) {
      grid-row: 7 / span 6;
      grid-column: 1 / span 8;
      z-index: 15;
    }
  }
}

.portfolio {
  // might be better as grid
  margin-top: 5rem;

  @include respond(mobile) {
    margin-top: 7rem;
  }

  &__heading {
    font-size: 6rem;
    text-transform: uppercase;
    margin: 2rem 4rem;
    border-bottom: 0.3rem solid $color-black;

    @include respond(mobile) {
      margin-bottom: 7rem;
    }
  }

  &__images {
    display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    grid-template: repeat(11, 5vw) / repeat(9, 1fr);
    box-sizing: inherit;
    grid-gap: 1rem;
    list-style: none;
    padding: 1rem 3rem;

    @include respond(phone) {
      display: block;
    }

    &--image {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 1rem;
      border: 0.1rem #333 solid;

      source,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      @include respond(phone) {
        max-width: 72%;
        margin: 2rem auto;
        border: 0.01rem #ccc solid;
      }

      &.large-logo {
        grid-column: span 3;
        grid-row: span 3;
      }

      &.med-logo {
        grid-column: span 3;
        grid-row: span 2;
      }

      &.small-logo {
        grid-column: span 2;
        grid-row: span 1;
      }

      &.square-logo {
        grid-column: span 2;
        grid-row: span 3;
      }

      &.thin-logo {
        grid-column: span 2;
        grid-row: span 2;
      }

      &.one {
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
      }

      &.two {
        grid-column: 4 / span 3;
        grid-row: 1 / span 3;
      }

      &.three {
        grid-column: 7 / span 3;
        grid-row: 1 / span 3;
      }

      &.four {
        grid-column: 1 / span 2;
        grid-row: 4 / span 4;
      }

      &.five {
        grid-column: 3 / span 2;
        grid-row: 4 / span 2;
      }

      &.six {
        grid-column: 7 / span 3;
        grid-row: 4 / span 6;
      }

      &.seven {
        grid-column: 1 / span 3;
        grid-row: 8 / span 2;
      }

      &.eight {
        grid-column: 4 / span 3;
        grid-row: 8 / span 2;
      }

      &.nine {
        grid-column: 5 / span 2;
        grid-row: 4 / span 2;
      }

      &.ten {
        grid-column: 3 / span 2;
        grid-row: 6 / span 2;
      }

      &.eleven {
        grid-column: 5 / span 2;
        grid-row: 6 / span 2;
      }

      @include respond(mobile) {
        border: 0.01rem #fff solid;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
