footer {
  grid-column: 2/12;
  grid-row: 11/13;
  width: 100%;
  min-height: 10rem; 
  line-height: 2em;
  color: white;
  text-align: center;
  background-color: $color-black;

  @include respond(tab-port) {
    grid-row: 10/13;
  }

  p {
    font-size: 1em;
    margin: 0;
  }
}
