footer {
  grid-column: 2/9; 
<<<<<<< HEAD
  grid-row: 12/13; 
=======
  grid-row: 11/13; 
>>>>>>> b8375f8fd38597abffd7c4949ee30cc279b1a544
  width: 100%;
  height: auto;
  line-height: 2em;
  color: white;
  text-align: center;
  background-color: $color-black;

  p {
    font-size: 1em;
    margin: 0;
  }

}